# Build artifacts
build/

# Package installation metadata
*.egg-info/

# Model files
/models

# MyPy cache
.mypy_cache/

# Pickle files
# *.pkl

# PyTorch model files
*.pth

# Python cache
__pycache__/

# Virtual Environment
/.u-ni-yo/

# W&B (Weights & Biases) logs
wandb/